body{
    font-family: "Comic Sans MS", serif;
    background-color: #5c5cc5;
}

h1{
    color: deeppink;
    background-color: darkblue;
    text-align: center;
}

h2{
    color: aquamarine;
}

h3{
    color: #cbff50;
}

html{
    scroll-behavior: smooth;
}
